@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "malgun gothic", "Apple SD Gothic Neo", arial, "sans-serif";
  font-size: 12px;
  line-height: 17px;
  color: #666666;
  background-color: #d9dcdb;
}
